@charset "utf-8";
/* 主体和头部 */
body{}
.g-hd-outer{}
/* 导航 */
.m-nav{background: #404040;}
.more li{background:none;}
.m-nav ul li a{color: #FFF;}
.m-nav>ul>li>ul li a{color: #fff;}
.m-nav ul li a:hover{color:#fff;}
.m-nav ul li ul,.m-nav ul li ul li ul, .m-nav ul li ul.last li ul{ background: #404040; }
.m-nav ul ul li {color:#fff;}
.m-nav .select { background: url(../img/menu-bg.png) repeat 0px 0px; color:#fff; top: -7px; z-index: 999999;}
.m-nav ul ul .select { background: #FF9739; top: 0px;}
.m-nav .select>a{color:#fff;}
.m-nav ul .u-first{ background: url(../img/menu-bg.png) repeat 0px 0px; color: #fff; left: -2px; top: -7px; z-index: 999999;}


.m-default-default h2{ color:#FF9739; border-bottom: 2px solid #FF9739;}
.m-default-default .more{background:url(../img/more.gif) repeat-x;}


/* 搜索 */
.m-search{ height: 30px; float: right; margin-top:40px; }
.m-search .u-search-key{ width:200px; height: 20px; line-height: 18px; float: left; padding: 5px; border: 0 none; color: #ccc;  font-size: 14px;   box-shadow: 0px 1px 6px 0px #888 inset; -webkit-box-shadow: 0px 1px 6px 0px #888 inset;  -moz-box-shadow: 0px 1px 6px 0px #888 inset;  -o-box-shadow: 0px 1px 6px 0px #888 inset;  -ms-box-shadow: 0px 1px 6px 0px #888 inset; }
.m-search .u-search-btn{ width: 40px; height: 30px; color:#fff;background:url(../img/searchIcon.png) no-repeat center center #FF8F28;font-size: 14px; text-indent: -999px; border: 0 none; overflow: hidden; float:right; cursor: pointer;}
.m-search .u-search-btn:hover{ background:url(../img/searchIcon.png) no-repeat center center #FF9739;}

/*******mb1********/
.m-default .m-wg-hd{ border-bottom: 2px solid #C9C9C9;}



/* 脚部 */
.g-ft {  background:#D7D7D7;}
.g-ft,.g-ft a,.ft ahover{}
.m-ft-nav span{}

/* 二级页公共样式 */
/* 背景颜色 */
.m-theme14 .m-sort ul li a.u-current, .m-theme25 .u-buy a:hover, .g-common .m-view-time, .m-view-curent, .m-go-buy a.u-sysbtn{background: #FF8F28;}
/* 选中时的字体颜色 */
.m-theme14 .m-sort ul li a.u-current, .m-theme25 .u-buy a:hover, .g-common .m-view-time, .m-view-curent, .m-go-buy a.u-sysbtn {color: #fff;}
/* 带颜色的字体 */
.m-theme8 .u-price, .g-common .u-price, .g-common .m-left-time span{color: #FF8F28;} 
/* 边框颜色 */
.m-theme14 .m-sort ul li a.u-current, .m-theme25 .u-buy a:hover, .g-common .g-view-menu ul li{border: 1px solid #FF8F28;}
/* 顶部边框 */
.m-bottom-line, .g-common .g-view-menu ul li.first{border-top: 1px solid #FF8F28;}
/* 左边边框 */
.g-common .g-view-menu ul li.first {border-left: 1px solid #FF8F28;}
/* 底部边框 */
.m-view-curent, .m-go-buy a.u-sysbtn{border-bottom: 1px solid #FF8F28;}
/* 购买鼠标放上时的颜色 */
.m-go-buy a.u-sysbtn:hover, .m-theme25 .u-buy a:hover{background: #FF9739;}
/* 购买时间底色 */
.g-common .m-left-time span {background: #ffed03;}